@charset "UTF-8";


/*font-family: 'Raleway', sans-serif; */

body /*,*/ /*html,*/

{
    margin: auto;

}

/*html{
    margin: auto;
}
*/
body {

    font-family: "Raleway", sans-serif;
}

.logo {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    float: left;

}

.menu {

    float: right;

}

nav a:hover {
    color: #2C3E50;


}

.container-fluid {
    padding: 0;
}

.banner {
    width: 100%;
    max-width: 100%;
}

.ban {
    /*width: 100%;
    */
    max-width: 100%;
    position: relative;
}

.ban img {
    width: 100%;
    max-width: 100%;
}

.inner-banner {
    position: absolute;
    top: 25%;
    text-align: center;
    width: 100%;

}

.inner-banner h1, h2 {
    color: #ffffff;
    text-shadow: 2PX 2PX 2PX #000000;
}

@media all and (max-width: 1024px) {
    .inner-banner {
        /*width: auto; */
        top: 40%;
        position: absolute;
        text-align: center;
        max-width: 100%;
    }

    .inner-banner h2 {
        display: none;
    }

    .ban {
        top: 25%;
    }
    #programmation  {

        font-size: 2em;
         margin-right: auto;
         margin-left: auto;
    

    }
    .programmation img  {
        display: block;
         margin-left: auto;
         margin-right: auto;
    }
    
    .programmation p {
        margin-left: auto;
        margin-right: auto;
        
    } 

    }
}


.inner-banner .btn-primary, .menu a {
    background-color: #0b6ca3;
    color: white;

}

.inner-banner .btn-primary:hover {
    background-color: #2C3E50;

}


.separator {
    height: 3px;
    width: 5%;
    border: none;
    box-shadow: none;
    background-color: #3498BD;
}


#programmation {
    text-align: center;
    font-size:;

}


.programmation article {
    background-color:#f0f8ff;
    margin-top: 5%;
}

.programmation article {
    /*text-align: justify;*/
    /*text-justify: inter-word;*/

}

.footer {

    background-color: #3498BD;
    color: #ffffff;
    text-align: justify;
    text-justify: inter-word;
}


/*.contact {

     /*background-color: #3498BD;  
    background-image: url("../img/film-background.jpg");
    color: #ffffff;
    text-align: justify;
    text-justify: inter-word; 
    padding-top:10%;
}
*/
}

#contact {
    color: #ffffff;
    text-align: left;
    /*	position: absolute;
    */
    margin: auto;
    padding: auto;
} 

.footer well-sm {
    margin: 0;


}

.para {

    text-align: center;
    max-width: 550px;
}

.portfolio bloc {

    position: relative;
    margin: 0;
    overflow: hidden;
}

.portfolio {
    background-image: url('../img/film-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 300%;
    position: relative;
    color: #ffffff;
    text-align: justify;
    text-justify: inter-word;
}

#reserver {
    color: black;

}

.galery {
    margin: auto;
    max-width: 100%;
    position: center;
    background-color: #FFF7F9;
}


article img.img-fluid {
    padding: 1em;
}

article p {
    padding: 1em;
}


#carouselExampleIndicators {
    max-height: 500px;
}

#carouselExampleIndicators .carousel-inner {
    max-height: 500px;
}

.full-width {
    width: 100%
}

h4 {
    font-size: 2em;
}

.container2 {

    background-color:#f0f8ff; 
   

    /*
    padding-bottom:10px;
    margin-left:auto;
    margin-bottom: auto;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 250%;
    position: relative;
     margin: auto;
    padding: auto;
*/
}
#footercontact {

}